<h4> <%= ad.title %></h4>
  <ul><span class="content">

    <%= ad.content %>
    </span>
  </ul>
  <ul>
    <% ad.pictures.each do |image| %>
      <%= image_tag(image.variant(resize_to_fit: [300,300]))%>
    <% end %>
  </ul>
  <ul>
    <span class="user"> Author: <%= link_to ad.user.name, ad.user %></span>
    <span class="timestamp">
    Posted <%= time_ago_in_words(ad.created_at) %> ago.</span>
  </ul>
  <ul>
    <span class="delete-ad-link">
    <% if current_user == ad.user%>
      <%= link_to "delete", ad, method: :delete, data: {confirm: "Are you Sure"} %>
    <% end %>
  </span>
  </ul>

<br>